body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
    padding-left:10px;
    padding-right: 10px;
    /* color:rgba(255, 0, 0, 0.493) */
}
.header{
    width:100%;
    background-image: url(images/donation1.jpg);
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    padding:100px 0px;
}


.header-content h1{
    text-align: center;
    color: white;
    font-size:60px;
    margin-left:10px;
    padding-top:5px;
    padding-bottom:5px;
}
.header-content p{
    font-size:18px;
    color:white;
    text-align:center;

}

.header-content{
    width:800px;
    margin:0px auto;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    
}

.donate_field{
    text-align:center;
    
}
.donate_field h1{
    font-size:60px;
}
.donate_field p{
    font-size:30px;
}
.boxwrapper{
    display: flex;
    padding-left: 18%;
    padding-right: 25%;
    width: 50%;
}

.box{
    padding: 5%;
    /* background-image: linear-gradient(orange, tomato); */
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 8%;
    border: 2px solid black;
    border-color: brown;
    color: black;
}
#box2{
    background-image:linear-gradient(brown,rgba(255, 0, 0, 0.24));
}
.input_amount{
    text-align: center;
    padding:20px 10px;
}

.triple-width {
    display: flex;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.triple-width img {
    width: 20%;
    height: 20%;
}

.div1 {
    width: 100%;
    padding-top: 3%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    margin-top: 5%;
    margin-bottom: 8%;
    border-radius: 7%;
    margin-right: 2%;
    background-color: skyblue;

}

.div2 {

    width: 100%;
    padding-top: 3%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    margin-top: 5%;
    border-radius: 7%;
    margin-left: 4%;
    margin-right: 2%;
    margin-bottom: 8%;
    background-color: antiquewhite;

}

.div3 {

    width: 100%;
    padding-top: 3%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    margin-top: 5%;
    border-radius: 7%;
    margin-left: 4%;
    margin-bottom: 8%;

    background-color: burlywood;

}

.color{
    text-align: center;
    font-size:20px;
    color:gray;
}
#colorr{
    text-align:left;
}

.flexible_container {
    display: flex;
    margin-bottom: 150px;
    padding-left:40px;
}

.half-width {
    width: 50%;
    padding-right: 50px;
    padding-left: 20px;
    margin-right:30px;
}
.half-width img{
    width: 80%;
    padding-left: 20%;
    padding-top: 10%;
    height: 80%;
}

.contact_form{
    text-align: center;
    background-color: bisque;
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.inputfield{
    border: 30px;
}

.foot_color {
    background-color: black;
    background-size: cover;
    margin: 0%;
    padding-top: 1px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.text{
    color:white;
}
.textt{
    color:brown;
}

